.center {
    display: flex;
    justify-content: center;
    padding-top: 15%;
}

.wrapper {
    padding: 3%;
    width: 35%;
    height: 30%;
    border: 1px solid black;
    border-radius: 5%;
    //background-color: white;
    background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%);
}

h1 {
    font-size: 25px;
    font-weight: bolder;
    color: rgb(148, 148, 245);
}

hr {
    //margin-left: 2%;
    width: 95%;
    color: white;
}

label {
    color: white;
}
.form-check {
    padding-left: 2.1rem;
}

.btn {
    width: 50%;
    margin-left: 5rem;
    margin-top: 0.5rem;
}

.clr {
    color: white;
    text-decoration: none;
}